
/* Variables*/
:root {
    --primary: #655586;
    --primedark:#08054b;
    --secondary: #A55A01;
    --accent: #B88A30;  
}
/* Reset*/
body,p,a,ul,li{
    font-size: 16px;
    margin: 00;
    padding: 0;
    text-decoration: none;
}
li{
    list-style-type: none;
}
/* Base Styles*/
body{
    background-color: var(--secondary);
    overflow-x: hidden;
    font-family: Garamond; 
}
.button {
    background: none;
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 6px 12px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6); 
}
.button:hover {
    color:var(--primedark) ;
    border-color:var(--primedark) ;
}
input, textarea{
    background-color: rgba(255,255,255,0.6);
    padding: 10px 16px;
    border-radius: 20px;
    border: 2px solid var(--accent);
}

.site-nav {
    margin:  0 20px;
    justify-content: space-around;
    align-items: center
    min-height 8vh;
    background-color: var(--primary);
}

.welcome {
    padding: 0 20px 20px 20px;
}

header {
    text-align: center;
}




.serviceSec {
    background-color: #dddbff;
    color: black;
}
.services {
    padding-left: 12px;;
}



/* Fonts*/
@font-face {
    font-family: "Garamond";
    src: url(assets/fonts/EBGaramond-VariableFont_wght.ttf);
}
h1,h2,h3,h4 {
    color: #dddbff;
    font-weight: normal;
}
p,a,li{
    color: 9893d8;
}
h1,h3 {
    font-size: 1.2em;
}
.navLinks  li  {
    display: inline;
    padding: 5px;
    color: #A55A01;
}
.navLinks  a  {
    color: rgb(226,226,226);
    letter-spacing: 2px;
    font-size: 0.8em;
    
}
.serviceSec p {
    color: black;
}
.serviceSec h2 {
    color: black;
    text-align: center;;
}
.serviceSec h3 {
    color: var(--primary);
    text-align: center;
    font-weight: bold;
}
.sectionHeading {
    font-size: 2em;
    margin-left: 35px;
    margin-bottom: 0px;
}
.subheading {
    font-size: 1.4em;
}

/* mobile styles*/
.grid{
    display: grid;
    grid-template-columns: repeat(8,1fr);

}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226,226,226);
    margin: 5px;
    grid-column: 9/12;
}
.welcome h3 {
    grid-column: 1/8;
    text-align: center;
    grid-row: 1;
}
.welcome-text {
grid-column: 1/8;
grid-row: 3;

}
.welcome-img {
grid-column: 3/8;
grid-row: 2;
padding: 40px;
}
#leftLinks {
    grid-column: 1/4;
    padding: 5px;
}
.rightLinks {
    grid-column: 8/9;
}

.rightLinks ul {
     position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 80px;
    right: 20px;
    height: 24vh;
    top:3vh;
    background-color: var(--primary);
    transform: translate(0%);
    transition: transform 0.5s ease-in;
}
.rightLinks li {
    float: right;
}
.nav-active {
   
}
.nav-active ul {
    display: flex;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 5px;
   
}
.services a {
text-align: center;
background: grey;
padding: 20px;

}
.requestForm {
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    padding: 10px;   
}
.requestForm #subject {
    grid-column: 1/5;
    margin: 10px;
}
.requestForm #name {
    grid-column: 1/5;
    margin: 10px;
}
.requestForm #email {
    grid-column: 1/5;
    margin: 5px;
}
.requestForm #message {
    grid-column: 1/5;
    margin: 5px;
}
.requestForm button {
    grid-column: 4;
}
/* Small tablet styles*/
@media screen and (min-width: 620px){
    .grid{
        display: grid;
        grid-template-columns: repeat(12,1fr);
     
    }
    .burger{
        display: none;
    }
    .welcome h3 {
        grid-column: 1/12;
        text-align: center;
        grid-row: 1;
    }
    .welcome-text {
    grid-column: 7/12;
    grid-row: 2;
    
    }
    .welcome-img {
    grid-column: 2/7;
    grid-row: 2;
    padding: 0px;
    }
    .services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
       
    }
    .services a {
    text-align: center;
    background: grey;
    padding: 20px;
    
    }
    .requestForm #name {
        grid-column: 1/6;
        margin: 10px;
    }
    .requestForm #email {
        grid-column: 6/12;
        margin: 10px;
    }
    .requestForm #message {
        grid-column: 1/12;
        margin: 5px;
    }
    .requestForm button {
        grid-column: 6;
    }
    .welcome h3 {
        grid-column: 1/12;
        text-align: center;
        grid-row: 1;
    }
    .rightLinks ul{
        display: inline;
        flex-direction: row;
        align-items: center;
        width: 60vh;
        right: 0px;
        height: 0;
        top:0;
        background-color: var(--primary);
        padding-right: 10px;
        transform: translate(-0%);
    }
    .rightLinks {

        grid-column: 5/12;
    }
    .rightLinks li {
        float: right;
    }


}

/* Large tablet styles*/
@media screen and (min-width: 960px){

    body {
        font-size: 18px;
    }
    .welcome-img {
        grid-column: 3/7;
        grid-row: 2;
        padding: 0px;
        }
    .services {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
       
    }
    .services a {
    text-align: center;
    background: grey;
    padding: 20px;
    
    }
    .requestForm #name {
        grid-column: 1/6;
        margin: 10px;
    }
    .requestForm #email {
        grid-column: 6/11;
        margin: 10px;
    }
    .requestForm #message {
        grid-column: 1/11;
        margin: 5px;
    }
    

   
}

/* desktop tablet styles*/
@media screen and (min-width: 1200px){  
    body{
        font-size: 20px;
    }
    
}

/*grid test
.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
   
}
.services a {
text-align: center;
background: grey;
padding: 20px;

}


.navLinks  li  {
    display: inline;
    padding: 10px;
}

#leftLinks {
    grid-column: 1/4;
}
#leftLinks li {
    float: left;
}
#rightLinks {
    grid-column: 7/12;
}
#rightLinks li {
    float: right;
}
*/
