
/* Variables*/
:root {
    --primary: #655586;
    --primedark:#08054b;
    --secondary: #ffaa42dc;
    --accent: #B88A30;  
    --drkPurp: #560470;
}
/* Reset*/
body,p,a,ul,li{
    font-size: 16px;
    margin: 00;
    padding: 0;
    text-decoration: none;
}
li{
    list-style-type: none;
}
/* Base Styles*/
body{
    background-color: var(--primary);
    overflow-x: hidden;
    font-family: Garamond; 
}
.button {
    background: var(--secondary);
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 6px 12px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6); 
    cursor: pointer;
}
.button:hover {
    color:var(--primedark) ;
    border-color:var(--primedark) ;
}
input, textarea{
    background-color: rgba(255,255,255,0.6);
    padding: 10px 16px;
    border-radius: 20px;
    border: 2px solid var(--accent);
}

.site-nav {
    margin:  0px;
    padding-bottom: 5px;
    justify-content: space-around;
    align-items: center;
    min-height: 4vh;
    background-color: var(--primary);
}

.welcome {
    padding: 0 20px 20px 20px;
}

header {
    text-align: center;
    background-color: #dddbff;
}




.serviceSec , .patients{
    background-color: #dddbff;
    color: black;
}
#footer {
background-color: goldenrod;
}

.services {
    padding-left: 12px;;
}

#programreq {
    background-color: ;
}


/* Fonts*/
@font-face {
    font-family: "Garamond";
    src: url(assets/fonts/EBGaramond-VariableFont_wght.ttf);
}
h1,h2,h3,h4 {
    color: #dddbff;
    font-weight: normal;
}
p,a,li{
    color: 9893d8;
}
h1,h3 {
    font-size: 1.2em;
}
.navLinks  li  {
    display: inline;
    padding: 5px;
    color: #A55A01;
}
.navLinks  a  {
    color: rgb(226,226,226);
    letter-spacing: 2px;
    font-size: 0.8em;
    
}
header h1 {
    color: var(--primary);
    font-weight: bold;
}

header p {
    color: black;
}
.serviceSec p {
    color: black;
}
.serviceSec h2 {
    text-align: center;;
}
.serviceSec h3 {
    color: var(--primary);
    text-align: center;
    font-weight: bold;
}
.sectionHeading {
    color: var(--drkPurp);
    font-size: 2em;
    margin-left: 35px;
    margin-bottom: 0px;
}
.subheading {
    font-size: 1.4em;
    letter-spacing: 1px;
    text-decoration: underline;
    color: var(--secondary);
    font-weight: bold;
}

.leading {
    color: #dddbff;
    font-weight: 500;
}

.leadingAlt {
    color: black;
    font-weight: 500;
    margin: 15px;
}
.fineprint {
    color: black;
}

/* mobile styles*/


/* header stuff*/

.grid{
    display: grid;
    grid-template-columns: repeat(8,1fr);

}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226,226,226);
    margin: 5px;
    grid-column: 9/12;
}

/* Mission and vision section*/

.welcome h3 {
    grid-column: 1/8;
    text-align: center;
    font-size: 2em;
    margin-bottom: 0;
    grid-row: 1;
}
.ceo-img {
grid-column: 2/7;
grid-row: 2;
padding: 10px;
margin-top: 15px;
border-radius: 20px 20px 20px 20px;
}
.mission {
    grid-column: 1/9;
    grid-row: 3;
}
.vision {
    grid-column: 1/9;
    grid-row: 5;
}
.welcome-img {
    grid-column: 1/7;
    grid-row: 4;
    padding: 10px;
    margin-top: 15px;
    }
#leftLinks {
    grid-column: 1/4;
    padding: 5px;
    
            display: none;
}
.rightLinks {
    grid-column: 8/9;
}

.rightLinks ul {
     position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 80px;
    right: 20px;
    height: 24vh;
    top:3vh;
    background-color: var(--primary);
    transform: translate(0%);
    transition: transform 0.5s ease-in;
}
.rightLinks li {
    float: right;
}
.nav-active ul {
    display: flex;
}




/* banner image here*/

.bannerImg {
    width: 30%;
    padding-top: 0;
    margin-top: 0;
}

.welcome .wideImg {
    text-align: center;
    width: 350px;
    height: 220px;
    
border-radius: 20px 20px 20px 20px;
}
.welcome .tallImg {
    text-align: center;
    width: 250px;
    height: 325px;
    
}

/* services section*/
/* note to self can clean up services grid using span instead of changing grid size*/

.services {
    gap: 5px;
    padding: 20px;
}
.services a {
text-align: center;
background: var(--primary);
padding: 20px;

}
.services ul {
    display: flex;
}
.services li  {
    grid-column: span 4;
    padding: 5px;
    background: rgba(0,0,0,0.1);
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    
}
.services .tallImg {
    width: 125px;
    height: 175px;
    margin-bottom: 5px;
}
.services .wideImg {
    width: 135px;
    height: 100px;
    margin-bottom: 5px;
}
.services button {
    background: none;
    margin-top: 10px;
}

.info-btn {
    display: none;
}


/* eligibility section*/
#programReq {
    padding: 20px;
}

/*patients secton */
#intake {
    grid-column: span 12;
    background: rgba(0,0,0,0.1);
    margin: 10px;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
}
#current {
    grid-column: span 12;
    background: rgba(0,0,0,0.1);
    margin: 10px;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    padding: 15px;
}

.patients .button {
    align-self: center;
    text-align: center;
}


/* connect section*/
#connect {
    padding: 15px;
    color: #dddbff;
}

.requestForm {
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    padding: 10px;   
}
.requestForm #subject {
    grid-column: 1/5;
    margin: 10px;
}
.requestForm #name {
    grid-column: 1/5;
    margin: 10px;
}
.requestForm #email {
    grid-column: 1/5;
    margin: 5px;
}
.requestForm #message {
    grid-column: 1/5;
    margin: 5px;
}
.requestForm button {
    grid-column: 4;
}


/* footer section*/

.footerlinks ul {
    display: flex;
   flex-direction: row;
   align-items: center;
   color: black;

}
.footerlinks a {
    color: black;
}
/* modal styles*/

.bg-modal, .appt-modal {
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.modal-img{
    width: 80px;
    height: 55px;
}
.modal-content {
    max-width: 300px;
    height: 500px;
    background-color: white;
    text-align: center;
    overflow-y: scroll;
}

.modal-content * {
    margin: 2px;
}

.modal-active {
    display: flex;
}

/* Small tablet styles*/

@media screen and (min-width: 620px){
    .grid{
        display: grid;
        grid-template-columns: repeat(12,1fr);
     
    }
    .burger{
        display: none;
    }

<<<<<<< HEAD
    /* Fonts*/
body,p,a,ul,li{
    font-size: 20px;
}
=======
    body,p,a,ul,li{
        font-size: 18px;
     
    }
>>>>>>> 0f19928175eb49da2d68861a590e61ff6ee1189e
    /* welcome section*/

    
    .welcome h3 {
        grid-column: 1/12;
        text-align: center;
        grid-row: 1;
    }
    .ceo-img{
        grid-row: 2;
    }

    .welcome-img {
    grid-column: 8/11;
    grid-row: 3;
    padding: 0px;
    margin-top: 30px;
    }
    .welcome-img .wideImg {
        width: 300px;

    }
   
        .mission {
            grid-column: 7/13;
            grid-row: 2;
            margin-left: auto;
            padding-left: 15px;
        }
        .vision {
            grid-column: 1/8;
            grid-row: 3;
            margin-top: 0;
            transform: translateY(-50px);
            padding: 15px;
            margin-bottom: 0px;
        }
        #leftLinks {
            grid-column: 1/4;
            padding: 5px;
        }
        .rightLinks {
            grid-column: 8/9;
        }
    .services {
        gap: 10px;
    }
    .services a {
    text-align: center;
    background: grey;
    padding: 20px;
    }
    .services li {
        grid-column: span 4;
    }
    .services .tallImg {
        width: 125px;
        height: 175px;
        margin-bottom: 5px;
    }
    .services .wideImg {
        width: 180px;
        height: 130px;
        margin-bottom: 5px;
    }
    

    .requestForm #name {
        grid-column: 1/6;
        margin: 10px;
    }
    .requestForm #email {
        grid-column: 6/12;
        margin: 10px;
    }
    .requestForm #message {
        grid-column: 1/12;
        margin: 5px;
    }
    .requestForm button {
        grid-column: 6;
    }
    .welcome h3 {
        grid-column: 1/12;
        text-align: center;
        grid-row: 1;
    }
    .rightLinks ul{
        display: inline;
        flex-direction: row;
        align-items: center;
        width: 60vh;
        right: 0px;
        height: 0;
        top:0;
        background-color: var(--primary);
        padding-right: 20px;
        transform: translate(-0%);
    }
    .rightLinks {

        grid-column: 5/12;
    }
    .rightLinks li {
        float: right;
    }

    /* modal styles */ 
    .modal-content {
        max-width: 500px;
        height: 500px;
        background-color: white;
        text-align: center;
        overflow-y: scroll;
    }


}

/* Large tablet styles*/
@media screen and (min-width: 960px){

    body,p,a,ul,li{
<<<<<<< HEAD
        font-size: 25px;
=======
        font-size: 20px;
     
>>>>>>> 0f19928175eb49da2d68861a590e61ff6ee1189e
    }
    .welcome-img {
        grid-column: /12;
        grid-row: 3;
        padding: 0px;
        }

        .welcome .wideImg {
            width: 375px;
            height: 300px;
        }
        .welcome .tallImg {
            width: 300px;
            height: 400px;
        }
    .services {
        gap: 15px;    
    }
    .services a {
    text-align: center;
    background: grey;
    padding: 20px;
    }
    .services li {
        grid-column: span 3;
    }

    /*patients secton */
#intake {
    grid-column: span 8;
    background: rgba(0,0,0,0.1);
    margin: 10px;
    border-radius: 20px 20px 20px 20px;
}
#current {
    grid-column: span 4;
    background: rgba(0,0,0,0.1);
    margin: 10px;
    border-radius: 20px 20px 20px 20px;
}
    .requestForm #name {
        grid-column: 1/6;
        margin: 10px;
    }
    .requestForm #email {
        grid-column: 6/11;
        margin: 10px;
    }
    .requestForm #message {
        grid-column: 1/11;
        margin: 5px;
    }
    

   
}

/* desktop tablet styles*/
@media screen and (min-width: 1200px){  
    body,p,a,ul,li{
        font-size: 22px;
     
    }
    
}

/*grid test
.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
   
}
.services a {
text-align: center;
background: grey;
padding: 20px;

}


.navLinks  li  {
    display: inline;
    padding: 10px;
}

#leftLinks {
    grid-column: 1/4;
}
#leftLinks li {
    float: left;
}
#rightLinks {
    grid-column: 7/12;
}
#rightLinks li {
    float: right;
}
*/
